body {
    background-color: rgb(221, 240, 212);
}

.centrado {
    margin: auto;
}

.chico{
    height: 100px;
}

.colorcard {
    background-color: rgb(221, 222, 171);
}

.formulario-rect {
    border: 4px solid #333;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
}
.cerrar{
    text-align: center;
    margin-bottom: 20px;
}

.titulo{
    background-color: rgb(138, 187, 108);
}

a{
    text-decoration: none;
    color: black;
}